<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Components list</h1>
    {% for component in object_list %}
        <h2>{{ component.name }}</h2>
        <p>{{ component.description }}</p>
        <p>Price: {{ component.price }}</p>
        <p>Category: {{ component.category }}</p>

        {% comment %} {% if component.featured_image %}
            <div class="image-container">
                <img class="card-img-top" src="{{ component.featured_image.url }}" alt="{{ component.name }}">
            </div>
        {% endif %} {% endcomment %}
    {% endfor %}

</body>

</html>